<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<h1> Userlist</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			
			<td>Company Name</td>
			<td>Title</td>
			<td>Location</td>
			<td>Salary</td>
			<td>Action</td>

			
		</tr>
		
		

		<% 
			job.forEach( function(std){ %>
			<tr>
				
				<td><%= std.companyname%></td>
				<td><%= std.title %></td>
				<td><%= std.location %></td>
				<td><%= std.salary%></td>
				
				<td>
					<a href="/job/edit/<%= std.id %>">Edit</a> |
					<a href="/job/delete/<%= std.id %>">Delete</a>
				</td>
			</tr>
		<%
			}); 
        %>
    
	</table>

</body>
</html>